@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background: #F5F5F7;
  min-width: 370px;
}

::-webkit-scrollbar{
  width: 6px
}

::-webkit-scrollbar-track{
  background: rgb(202, 202, 202);
}

::-webkit-scrollbar-thumb{
  background: gray;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(172, 172, 172);
}